html,
body {
  padding: 0;
  margin: 0;
  font-family: sans-serif;
  overflow: hidden;
  touch-action: none;
}

@font-face {
  font-family: 'Jalnan';
  src: url('../public/static/fonts/Jalnan.ttf') format('truetype'),
    url('../public/static/fonts/JalnanOTF.otf') format('opentype');
  font-weight: normal;
  font-style: normal;
}

.customOverlayWrap {
  border-radius: 6px;
  margin-bottom: 48px;
  font-size: 14px;
  float: left;
  position: relative;
  border: 1px solid #ccc;
  border-bottom: 2px solid #ddd;
  background-color: #fff;
  text-align: center;
}
.customOverlayWrap .apartment {
  color: white;
  background-color: #d95050;
  border: 1px solid;
}

.info-item-mount {
  animation: 0.7s ease-in-out loadEffect;
}

@keyframes loadEffect {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.info-item-unmount {
  animation: 0.5s ease-in-out unloadEffect;
}

@keyframes unloadEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
